/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

*{
  font-family: "Roboto", sans-serif;
}

/* @custom-variant dark(&:where(.dark,.dark *)); */
/* @custom-variant dark (&:where(.dark, .dark *)); */


/* @theme { */
  /* --color-primary: #E6CCFF; */
/* } */

::-webkit-scrollbar{
  display: none;
}
.reset-tw :not(pre):not(code){
  all: revert;
}
.loader div:nth-child(2){
  animation-delay: 0.2s;
}
.loader div:nth-child(3){
  animation-delay: 0.4s;
}
body {
margin: 0;
font-family: sans-serif;
background: #f5f5f5;
}
button {
cursor: pointer;
}